# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DB_NAME=
DB_HOST=
DB_PWD=
DB_USER=

NEXT_PUBLIC_API_ENDPOINT=